

.header{
    width:100%;
    height: 80px;
    padding:10px;
    background-color:#eaeaea;
    margin:0px;
}

.org-name-logo{
    width:100%;
    float:left;
    font:bold 90% Georgia;
}

.navigation{

}