


svg{
    margin:0px;
    position:absolute;
    z-index:9;
}

#main-div{
    width:100%;
    height:inherit;
}

.drag-drop{
    opacity:0.5;
}

.hex-div {
    position:relative;
    top:0px;
    left:0px;
}

.text-wrapper{
    position: absolute;
    display: table;
    z-index:51;
    text-align:center;
}

.hex-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

